*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    display: flex;
    background-color: #F5CB00;
}

.logo{
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1350px;
}

.btn-1{
    background-color: transparent;
    color: black;
    border: none;
    padding-right: 30px;
    font-size: 18px;
}

.section1{
    display: flex;
    padding-top: 100px;
    padding-left: 200px;

}

.sec1_text{
    padding-left: 250px;
    padding-top: 100px;
    width: 550px;

}

.sec1_title{
    font-size: 55px;
    padding-bottom: 25px;
}

.btn-sec1{
    background-color: #F5CB00;
    border: none;
    width: 110px;
    height: 35px;
    font-size: 15px;
    font-weight: 800;
    margin-top: 15px;
}

.estadisticas{
    position: absolute;
    display: flex;
    background-color: #E6E6E6;
    width:1180px ;
    padding: 80px;
    bottom: -280px;
    left: 11%;
    z-index: 1;
}

.title_estad{
    color: #F5CB00;
    font-size: 50px;
    padding-right: 50px;  
}

.text_estad{
    width: 400px;
    padding-right: 250px;
}

.read_more1{
    text-decoration: none;
    color: black;
    font-weight: 800;
    
}

.p_estad{
    padding-bottom: 20px;
}

.img_estad{
    padding-right: 50px;
}

.section2{
    background-color: #F5CB00;
    position: relative;
    top: 400px;
    display: flex;
    height: 1000px;
}

.text_section2{
    width: 600px;
    padding-top: 250px;
    padding-left: 200px;
    padding-right: 220px;
}

.title_section2{
    font-size: 60px;
}

.p_section2{
    padding-top: 10px;
    width: 400px;
    padding-bottom: 15px;
}

.btn-2{
    background-color: black;
    border: none;
    width: 110px;
    height: 35px;
    font-size: 15px;
    margin-top: 15px;
    color: white;
}

.img_sec2{
    position: absolute;
    top: 400px;
    left: 40%;
}

.section3{
    display: flex;

}



